= form_for [@question,@vote], url: url, method: method, remote:true do |f|
	-# - if @answer.errors.any?
	-# 	#error_explanation
	-# 		%h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
	-# 		%ul
	-# 			- @answer.errors.full_messages.each do |message|
	-# 				%li= message
	.field.border-bottom.pb-5 
		-# =f.check_box :selection, {:checked_value => 1, :unchecked_value => 0 ,checked: true}
		=f.hidden_field :selection, value:1 
	.actions.mt-4.text-center
		= button_tag(type: "submit", class: "btn btn-default blue") do
			= fa_icon "thumbs-up"
= form_for [@question,@vote], url: url, method: method, remote:true  do |f|
	-# - if @answer.errors.any?
	-# 	#error_explanation
	-# 		%h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
	-# 		%ul
	-# 			- @answer.errors.full_messages.each do |message|
	-# 				%li= message
	.field.border-bottom.pb-5 
		-# =f.check_box :selection, {:checked_value => 1, :unchecked_value => 0 ,checked: true}
		=f.hidden_field :selection, value:0 
	.actions.mt-4.text-center
		= button_tag(type: "submit", class: "btn btn-default blue") do
			= fa_icon "thumbs-down"
			

