-# .container 
-#   .row.mt-4
-#     - @questions.each do |question|   
-#       .col-1.card
-#         .row.pt-2
-#           %strong
-#             Votos
-#         .row.pt-2
-#           %h3.text-secondary
-#             = @question_votes 
-#       .col-1
-#         .row.pt-2
-#           %strong
-#             Respuestas
-#         .row.pt-2
-#           %h3.text-secondary
-#             = question.answers.length
-#       .col-10
-#         %p=link_to question.title, question 
-#         %p= "Preguntado #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
-#         - 0.upto(question.question_tags.size){|index|
-#         -  if index>3
-#           - break  
-#         -  elsif(question.question_tags[index]!=nil)
-#           %span=question.question_tags[index].tag.name
-#         - }

.container
  -if @tagQuestions != nil && @tagQuestions.question != []
    .row.mt-5
      .col-1
      .col-3.text-center.pr-0
        .card.text-white#popular
          %h5.mt-1.font-weight-bold
            Resultados de la búsqueda
    .row.justify-content-center
      .col-10
        %table.table.table-bordered#popularquestions.bg-white
          %thead
            %tr.text-center
              %td.font-weight-bold Votos
              %td.font-weight-bold Respuestas
              %td.font-weight-bold Título de la pregunta
          %tbody
            - @tagQuestions.question.each do |question|
              %tr
                -if question.vote_count < 0
                  %td.align-middle.text-center.bg-danger
                    %h3.text-white
                      = question.vote_count
                -elsif question.vote_count > 0
                  %td.align-middle.text-center.bg-success
                    %h3.text-white
                      = question.vote_count
                - else
                  %td.align-middle.text-center
                    %h3.text-secondary
                      = question.vote_count
                %td.align-middle.text-center
                  %h3.text-secondary
                    = question.answers.length
                %td
                  %h5
                    =link_to truncate(question.title, length:70), question
                  %p.text-right= "Hace #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
                  - 0.upto(question.question_tags.size)  {|index|
                  -  if index>6
                    - break  
                  -  elsif(question.question_tags[index]!=nil)
                    %span.text-primary.tagstyle.p-1.mr-1
                      =question.question_tags[index].tag.name
                  - }
  -elsif params[:search] == nil
    .row.mt-5
      .col-1
      .col-2.text-center.pr-0
        .card.text-white#popular
          %h5.mt-1.font-weight-bold
            Populares
      .col-2.text-center.pl-0
        .card.text-white#last
          %h5.mt-1.font-weight-bold
            Recientes
    .row.justify-content-center
      .col-10
        %table.table.table-bordered#popularquestions.bg-white
          %thead
            %tr.text-center
              %td.font-weight-bold Votos
              %td.font-weight-bold Respuestas
              %td.font-weight-bold Título de la pregunta
          %tbody
            - @questions.each do |question|
              -@question_votes = Vote.where({votable_type: :Question, votable_id:question.id})
              -@question_votes = @question_votes.select{|vote| vote.vote_flag}.size - @question_votes.select{|vote| !vote.vote_flag}.size
              %tr
                -if question.vote_count < 0
                  %td.align-middle.text-center.bg-danger
                    %h3.text-white
                      = question.vote_count
                -elsif question.vote_count > 0
                  %td.align-middle.text-center.bg-success
                    %h3.text-white
                      = question.vote_count
                - else
                  %td.align-middle.text-center
                    %h3.text-secondary
                      = question.vote_count
                %td.align-middle.text-center
                  %h3.text-secondary
                    = question.answers.length
                %td
                  %h5
                    =link_to truncate(question.title, length:70), question
                  %p.text-right= "Hace #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
                  - 0.upto(question.question_tags.size)  {|index|
                  -  if index>6
                    - break  
                  -  elsif(question.question_tags[index]!=nil)
                    %span.text-primary.tagstyle.p-1.mr-1
                      =question.question_tags[index].tag.name
                  - }
        %table.table.table-bordered#lastquestions.bg-white
          %thead
            %tr.text-center
              %td.font-weight-bold Votos
              %td.font-weight-bold Respuestas
              %td.font-weight-bold Título de la pregunta
          %tbody
            - @lastquestions.each do |question|
              %tr
                -if question.vote_count < 0
                  %td.align-middle.text-center.bg-danger
                    %h3.text-white
                      = question.vote_count
                -elsif question.vote_count > 0
                  %td.align-middle.text-center.bg-success
                    %h3.text-white
                      = question.vote_count
                - else
                  %td.align-middle.text-center
                    %h3.text-secondary
                      = question.vote_count
                %td.align-middle.text-center
                  %h3.text-secondary
                    = question.answers.length
                %td
                  %h5
                    =link_to truncate(question.title, length:70), question
                  %p.text-right= "Hace #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
                  - 0.upto(question.question_tags.size){|index|
                  -  if index>6
                    - break  
                  -  elsif(question.question_tags[index]!=nil)
                    %span.text-primary.tagstyle.p-1.mr-1
                      =question.question_tags[index].tag.name
                  - }
  - elsif @findQuestions == []
    .row.mt-5
      .col-1
      .col-3.text-center.pr-0
        .card.text-white#popular
          %h5.mt-1.font-weight-bold
            Resultados de la búsqueda
    .row.justify-content-center
      .col-10
        .card.imageContainer
          .row.justify-content-center
            .col-6.text-center
              %h5.font-weight-bold.mt-5
                No hubo resultados en la búsqueda
              %img.img-fluid(src="https://d30y9cdsu7xlg0.cloudfront.net/png/1635-200.png" alt="")
              %p
                También puede realizar búsquedas por etiquetas.
  - else
    .row.mt-5
      .col-1
      .col-3.text-center.pr-0
        .card.text-white#popular
          %h5.mt-1.font-weight-bold
            Resultados de la búsqueda
    .row.justify-content-center
      .col-10
        %table.table.table-bordered#popularquestions.bg-white
          %thead
            %tr.text-center
              %td.font-weight-bold Votos
              %td.font-weight-bold Respuestas
              %td.font-weight-bold Título de la pregunta
          %tbody
            - @findQuestions.each do |question|
              %tr
                -if question.vote_count < 0
                  %td.align-middle.text-center.bg-danger
                    %h3.text-white
                      = question.vote_count
                -elsif question.vote_count > 0
                  %td.align-middle.text-center.bg-success
                    %h3.text-white
                      = question.vote_count
                - else
                  %td.align-middle.text-center
                    %h3.text-secondary
                      = question.vote_count
                %td.align-middle.text-center
                  %h3.text-secondary
                    = question.answers.length
                %td
                  %h5
                    =link_to truncate(question.title, length:70), question
                  %p.text-right= "Hace #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
                  - 0.upto(question.question_tags.size)  {|index|
                  -  if index>6
                    - break  
                  -  elsif(question.question_tags[index]!=nil)
                    %span.text-primary.tagstyle.p-1.mr-1
                      =question.question_tags[index].tag.name
                  - }





  

          



  -# %td= link_to 'Show', question_answers_path(question.id)

