.container
	.row.mt-5
		.col-8
			= render 'form'
		.col-4
			#exampletitle
				.card.p-4.colorexample
					%h5
						¿Cómo preguntar?
					%p
						%strong
							¿Tú pregunta es sobre programación?
					%p
						Preferimos preguntas que pueden ser respondidas, no simplemente debatidas.
					%p
						Proporciona detalles. Comparte lo que ya sabes.
			#examplebody
				.card.p-4.colorexample
					%h5
						¿Cómo formatear?
					%li.mt-2
						Usa saltos de línea para separar párrafos
					%li.mt-2
						Para añadir un salto de línea, coloc 2 espacios al final
					%li.mt-2
						%i
							_cursiva_
						o
						%strong
							**negrita**
					%li.mt-2
						identa el código con 4 espacios
					%li.mt-2
						Las palabras reservadas del código cambian de color
					%li 
						Crea un bloque de cita poniendo > al conmienzo de la línea
			#exampletags
				.card.p-4.colorexample
					%h5
						¿Cómo etiquetar?
					%p
						Una etiqueta es una palabra clave que categoriza su pregunta con otras preguntas similares. Elija una o más etiquetas que ayudarán a los demas usuarios a encontrar e interpretar su pregunta.
					%li
						Completa la oración: mi pregunta es sobre...
					%li
						Use etiquetas que describan cosas o conceptos que son esenciales, no relacionados con su pregunta
					%li
						Lea la descripción que aparece debajo de "Etiquetas"
					%li
						Combine palabras múltiples en palabras sueltas con guiones (por ejemplo, android-studio)
					%li
						Crear nuevas etiquetas es un privilegio; Si su etiqueta no existe, asegurese que esté bien redactada y tenga sentido

					


-# = link_to 'Back', root_path
