.container
  .max
    %h3.border-bottom.pb-3.max
      = @question.title
  .row.pt-3
    .col-1.text-center
      .row.pt-2
      = link_to(:controller => "questions", :action => "upvote", :id => @question) do
        = icon(@tu_class, 'thumbs-up', class:"text-success")
       
      .row.pt-2
      %h3.text-secondary
        = @question_votes
      .row.pt-0
      = link_to(:controller => "questions", :action => "downvote", :id => @question) do
        = icon(@td_class, 'thumbs-down',class:"text-danger")
    .col-9.max
      = @question.body.html_safe
  .row
    .col-10
    .col-2
      %b User:
      = @question.user.first_name
  = link_to 'Edit', edit_question_path(@question)
  -if @answers.length>0
    %h4.pt-4.border-bottom.pb-3  
      = @answers.length
      - if  @answers.length>1
        Respuestas
      - else 
        Respuesta
    - @answers.each do |answer|
      .row.pt-4    
        .col-1.text-center
          .row.pt-2
            -@vote = Vote.find_by({votable_type: "Answer",votable_id: answer.id,voter_id:current_user.id}) if(current_user)
            -if(@vote)
              -if(@vote.vote_flag)
                -@td_class_answer = 'far'
                -@tu_class_answer = 'fas'
              -else 
                -@td_class_answer = 'fas'
                -@tu_class_answer = 'far'
            -else
              -@td_class_answer = 'far'
              -@tu_class_answer = 'far'
          = link_to(:controller => "answers", :action => "upvote", :question_id => @question,:id => answer) do
            = icon(@tu_class_answer, 'thumbs-up', class:"text-success")
          %h3.text-secondary
            -@answer_votes= Vote.where({votable_type: :Answer, votable_id:answer.id})
            = @answer_votes = @answer_votes.select{|vote| vote.vote_flag}.size - @answer_votes.select{|vote| !vote.vote_flag}.size
          .row.pt-0
          = link_to(:controller => "answers", :action => "downvote", :question_id => @question,:id => answer) do
            = icon(@td_class_answer, 'thumbs-down', class:"text-danger")
          = answer.status
        .col-9 
          = answer.body.html_safe
      .row.border-bottom.pb-3 
        .col-10
        .col-2
          %b User:
          = answer.user.first_name
          -# %td= link_to 'Show', answer
          -# %td= link_to 'Edit', edit_answer_path(answer)
          -# %td= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }
  %h5.pt-4.border-bottom.pb-3 
    Tu Respuesta
    .row.pt-4
      .col-12
        = render 'formanswer'   



