= form_for [@question, @answer] do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :user
    = f.text_field :user_id, :value => params[:user_id]
  .field
    = f.label :question
    = f.text_field :question_id, :value => params[:question_id]
  .actions
    = f.submit 'Save'
