.container
  .row.justify-content-center.mb-0.errorstyle
    .col-8
      - flash.each do |name, msg|
        .alert.alert-danger.alert-dismissible.fade.show.text-center{:role => "alert"}
          %button.close{"data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %strong
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    
      
  .row.justify-content-center
    .col-4
      .card.mt-3.p-4
        %h2.text-center Iniciar sesion
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field.mt-2
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-group'
          .field.mt-2
            = f.label :contraseña
            %br/
            = f.password_field :password, autocomplete: "off", class: 'input-group'
          - if devise_mapping.rememberable?
            .field.mt-2
              = f.check_box :remember_me
              = f.label :recuerdame
          .actions.mt-2.mb-2
            = f.submit "Ingresar", class: 'btn btn-success input-group'
        = render "devise/shared/links"
