/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import "select2-bootstrap";
 @import "trix";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 .errorstyle {
     height: 4rem
 }

 .formatted_content.trix-content.form-control {
     min-height: 20rem;
 }

 #exampletitle {
     position: fixed;
     width: 22rem;
 }


//  #exampletitle{
//       display: none;
// }

 #examplebody{
    display:none;
    position: fixed;
    width: 22rem;

}

#exampletags{
    display: none;
    position: fixed;
    width: 22rem;
}

.colorexample{
    background-color: #fff8e1;
    font-size: 14px;
}
.estilodeltitulo {
    font-size: 1.7rem;
    color: rgb(167, 155, 155);
}
.help{
    border-top:0.1rem solid lightgrey;
    border-bottom:0.1rem solid lightgray;
}

#lastquestions{
    display:none
}

#popular{
    background-color: #007bff;
}

#last{
    background-color: #007bff;
}

#popular:hover{
    cursor: pointer;
    background-color: #0256b1
}

#last:hover{
    cursor: pointer;
    background-color: #0256b1
}

body{
    background-color: #F6F2EF
}

#editor {
    min-height: 20rem;
    width: 100%;
}

#browser {
    min-height: 20rem;
    width: 100%;
}

.js-example-basic-multiple{
    width:200px
}

.tagstyle{
    background-color: #e3f2fd;
    font-size: 0.8rem
}

.max{
    // overflow:hidden;
    // text-overflow:ellipsis;
    // max-width: 100%;
    white-space: pre-wrap
}

.imageContainer{
    height: 25rem
}



