%nav.row.navbar.navbar-light.p-1{:style => "background-color: #e3f2fd; max-width: 101.2%"}
   %a.navbar-brand.col-2.mr-5.mt-1.ml-2{:href => questions_path}
      %img.d-inline-block.col-6{:alt => "Logo", :src => "/assets/logo.svg", :height => "55px"}
      %p.col-6.d-inline-block.estilodeltitulo.mt-2
         %strong HACK Overflow
   = form_tag root_path, :method => 'get' do
      %p.mt-3
         = text_field_tag :search, params[:search], id:"searchText"
         = submit_tag "Search", :name => nil, id:"searchButton"
   = link_to new_question_path do
      %button.btn.btn-primary.p-2{:type => "button"}
         Formular pregunta
         = icon('fas', 'question')
      
   -if user_signed_in?
      = link_to destroy_user_session_path, method: :delete do
         %button.btn.btn-danger.mr-5.p-2{:type => "button"}
            Cerrar sesion
            = icon('fas', 'sign-out-alt')
   -else 
      = link_to new_user_session_path do
         %button.btn.btn-success.mr-5.p-2{:type => "button"}
            Iniciar sesion
            = icon('fas', 'user-circle')
        
    
    
    
    
  
